
.titulo {
  width: 100%;
  text-align: center;
  margin: 16px 0;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;

}
.nav {
 background-color: #1e3a8a;
  padding: 16px;
  display: flex;
  flex-direction: column;  /* apilamos menu y form */
  align-items: center;
  margin-bottom: 24px;
}





.menu {
  width: 100% ;
 list-style: none;
  padding: 0;
  margin: 0 0 12px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}


.menu li {
 
 margin: 0 14px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  display: flex; 
  align-self: center;
  
}


.nav form {
 display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nav input {
  padding: 6px 5px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;

}
.nav button {
 padding: 6px 10px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  background: #fff;
  color: #f0f1f5;
  background-color: #041e7e;
  font-weight: 600;
  margin-left: 8px;
}
.boton {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 760px){
 
  .nav {
    padding: 12px;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: stretch;  }





  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;   
    margin: 0 0 10px 0;
   
  }
  .menu li {
    margin: 5px 0;
  }
  .menu a {
    display: block;       
    text-align: center;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #2a46a8;    
   

    }

 
  .nav form {
    width: 100%;
    display: flex;
    margin-top: 4px;
  }
  
  .nav input {
    width: 100%;
    display: block;
    border-radius: 6px;
    margin: 0 0 8px 0;         
    min-width: 0;   
  }
  .nav button {
    width: 20%;
    display: block;
    padding: 10px 12px;
  
  }
}



